* {
    font-family: 'Roboto','sans-serif';
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    height: 100vh;

}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    align-items: center;
    height: 100vh;
}




