
.pokedex {
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem ;
    width: 98%;
    border: .3rem solid transparent;
    background: linear-gradient(#f43546, #f43546) padding-box, linear-gradient(to right, #e81325, #d6515c) border-box;
    
}

#top {
    position: relative;
    border-radius: 30px 30px 0px 0px;
    margin: .5rem .5rem 0 .5rem;
    gap: .5rem;
    
}

#botton {
    margin: 0 .5rem .5rem .5rem;
    border-radius: 0 0 30px 30px;
    position: relative;
}

#openButton {
    background-image: url(/assets/img/buttonPower.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f7cf2c;
    position: absolute;
    right: 1rem;
    bottom: .6rem;
    border-style: none;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    box-shadow:#8c2830 0px 0px 0px 3px;
    cursor: pointer;

}

.pokedex .big-c {
    padding: 16px;
    background: linear-gradient(150deg,#60e3f5,#3ea6b4);
    border-radius: 100px;
    border: .7rem solid silver;
    box-shadow: #b8000f 0px 0px 0px 2px;
}

.pokedex div:nth-child(2) {
    display: flex;
    align-self: self-start;
    margin-top: .7rem;
    gap: .5rem;
}

.little-c {
    padding: 6px;
    border-radius: 50px;
    box-shadow: #b8000f 0px 0px 0px 2px;
}

#red {
    background-color: #f76e59;
    
}

#yellow {
    background-color: #fed752;
}

#green {
    background-color: #73E055;
}

@keyframes light {
    to {opacity: .6;}
}

.conteiner-input {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 0.0rem;
    right: 1rem;
    bottom: 1.1rem;
    z-index: 2;

    height: 2rem;
    border-radius:.7rem;
    gap: .5rem;
    
    transition: 1s;
}

.conteiner-input input {
    background-color: #162325;
    color: #fff;
    border: 0;
    max-width: 30vw;
    border-radius:1rem;
    box-shadow: #b8000f 0px 0px 0px 2px;
    padding-left: 1rem;
}

input::placeholder { color: #383838; }

.conteiner-input button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    background-color:#f7cf2c;
    border: 0;
    border-radius: 1rem ;
    box-shadow: #b8000f 0px 0px 0px 2px;
    cursor: pointer;
    transition: .5s;
}

.conteiner-input button:hover {
    background-color:#d3b129;
    transition: 1s;
}


#btn-back {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid orange;
    border-radius: 5rem;
    cursor: pointer;
}

.traco {
    padding-right: 4rem;
    padding-top: .5rem;
    border-radius: 5rem;
    background-color:#b8000f;
    box-shadow: #b8000f 0px 0px 0px 2px;
    margin: auto;
    
}

#content {
    position: relative;
    height: 0vh;
    width: 97.5%;
    background-color: #162325;
    border-left: .5rem solid #000000;
    border-right: .5rem solid #000000 ;
    padding:0rem;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 1s;
}

#content::-webkit-scrollbar {
    width: 0px;
}

.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f3e;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2c;
}

.ice {
    background-color: #98d9d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #ab8720;
}

.ghost {
    background-color: #6e5896;
}

.stell {
    background-color: #b9b9b9;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
} 
   

.pokemon {
    display: flex;
    flex-direction: column;
    margin:.3rem;
    padding: .7rem;
    color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
}



.pokemon::after {
    content: url(/assets/img/pokeball.png);
    width: 100px;
    height: 100px;
    position: absolute;
    right: -1rem;
    bottom: -2rem;
    z-index: -0;

}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
}

.pokemon .name {
    color: #fff;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    color: #fff;
    list-style: none;
}

.pokemon .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: .5rem;
    font-size: .625rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemons .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    z-index: 1;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding:.25rem .5rem ;
    margin: .25rem 0;
    font-size: .825rem;
    color: #fff;
    background-color:#6c79db ;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#not-found {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-found {
    color: #fff;
}




@media screen and (min-width:400px) {
    
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:576px) {
    
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    #content {
        max-width: 992px;
        margin-top: 0;
    }

    .pokedex {
        max-width: 994px;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}